<div style="height: 50px;">
  <p></p>
</div>
<div class="page-container">

  <footer class="footer fixed-bottom">
    <div class="container">
      <div class="row">

        <div class="row" style="padding-top: 5px">
          <!-- <div class="col-5"></div> -->
          <div class="col-auto" style="margin: auto; color: white; font-weight:800; text-shadow: 4px 4px 4px black;">
            <!-- <strong style="margin: auto; color: white; text-shadow: -1px -1px 0 black;"> -->
            <h2>~ Engineer Exchange ~</h2>
            <!-- </strong> -->
          </div>
        </div>
        <!-- <div class="col-5"></div> -->
      </div>


    </div>

  </footer>
</div>
