<ng-template #content let-modal id="newPost" style="text-align: center">
  <div id="newJobOutside">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"
        style="text-align:center; margin-bottom: auto; margin-top: 10px; color: white">
        <strong>New Job Post</strong>
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <form id="newPostForm">

        <label class="form-label" for="jobRequirements">Job Description</label>
        <textarea rows="2" cols="40" class="form-control" placeholder="Job Description" type="text"
          name="jobRequirements" required [(ngModel)]="newPost.jobRequirements"></textarea>

        <label class="form-label" for="startDate">Start Date</label>
        <input class="form-control" required type="date" name="startDate" [(ngModel)]="newPost.startDate" />

        <label class="form-label" for="completionDate">Completion Date</label>
        <input class="form-control" required type="date" name="completionDate" [(ngModel)]="newPost.completionDate" />

        <label class="form-label" for="developersNeeded">Developers Needed</label>
        <input class="form-control" required type="number" name="developersNeeded"
          [(ngModel)]="newPost.developersNeeded" />

        <br>
        <div class="dropdown">
          <button class="btn btn-secondary " type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" name="type">
            <strong> Job Type &nbsp;&nbsp;</strong>
            <select name="type" [(ngModel)]="newPost.type">
              <option *ngFor="let type of jobTypes" [ngValue]="type">
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li class="dropdown-item" required>{{type.name}}</li>
                </ul>
              </option>
            </select>
          </button>
        </div>
        <br>
        <div class="dropdown">
          <button class="btn btn-secondary " type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" name="status">
            <strong>Job Status &nbsp;&nbsp;</strong>
            <select name="status" [(ngModel)]="newPost.status">
              <option *ngFor="let status of jobStatuses" [ngValue]="status">
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li class="dropdown-item" required>{{status.name}}</li>
                </ul>

              </option>
            </select>
          </button>
        </div>
        <br>
        <div style="text-align: center">
          <div class="form-inline" style="text-align: center; margin-top: 4px">
            <button (click)="createAPost(newPost)" (click)="modal.close('Save click')"
              class="button btn btn-success">Create</button>
            <button class="button btn btn-warning" style="margin-left: 20px;" (click)="modal.dismiss('Cross click')"
              (click)="cancel()">Cancel</button>

          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</ng-template>
