<div id="registerUser" class="container-liquid" style="text-align: center; padding-top: 10%;">
  <form name="registrationForm">
    <input type="text" name="username" [(ngModel)]="newUser.username" placeholder="Username" />
    <p *ngIf="duplicateUsername">Username already in use!</p>
    <br *ngIf="!duplicateUsername">
    <br *ngIf="!duplicateUsername">
    <input type="password" name="password" [(ngModel)]="newUser.password" placeholder="Password" />
    <br>
    <br>
    <input type="text" name="firstName" placeholder="First Name" [(ngModel)]="newUser.firstName"
      (ngModelChange)="update()" />
    <br />
    <br />
    <input type="text" name="lastName" placeholder="Last Name" [(ngModel)]="newUser.lastName"
      (ngModelChange)="update()" />
    <br />
    <br />
    <input type="text" name="email" placeholder="Email" [(ngModel)]="newUser.email" (ngModelChange)="update()" />
    <br />
    <br />
    <input type="text" name="phoneNumber" placeholder="Phone Number" [(ngModel)]="newUser.phoneNumber"
      (ngModelChange)="update()" />
    <br />
    <br />
    <input type="text" name="imageUrl" placeholder="Image URL" [(ngModel)]="newUser.imageUrl"
      (ngModelChange)="update()" /> <br>
    <button class="btn btn-outline-success my-2 my-sm-0" value="Register" (click)="register()">Register</button>
    <button stye="padding: 10px" class="btn btn-outline-danger my-2 my-sm-0" value="Cancel" (click)="cancel()">Cancel</button>
  </form>
</div>
