<div id="outsideBorder">
  <h4 style="text-align:center; margin-bottom: auto; margin-top: 25px; color: white">User Registration</h4>
  <div id="registerUser">
    <form class="row g-3" name="registrationForm" id="registrationForm">
      <div class="col-md-6">
        <label for="username" class="form-label">Username</label>
        <br>
        <div class="input-group">
          <span id="usernameIcon" class="input-group-text">👤</span>
          <input type="text" class="form-control" required name="username" [(ngModel)]="newUser.username" />
          <div *ngIf="duplicateUsername" class="col-md-12" class="alert alert-warning" role="alert">
            Username already in use!
            <br *ngIf="!duplicateUsername">
            <br *ngIf="!duplicateUsername">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="password" class="form-label">Password</label>
        <br>
        <div class="input-group">
          <span class="input-group-text">🔒</span>
          <input type="password" class="form-control" required name="password" [(ngModel)]="newUser.password" />
        </div>
      </div>

      <div class="col-md-6">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" required name="firstName" [(ngModel)]="newUser.firstName"
          (ngModelChange)="update()" />
      </div>
      <div class="col-md-6">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" required name="lastName" [(ngModel)]="newUser.lastName"
          (ngModelChange)="update()" />
      </div>

      <div class="col-md-7">
        <label for="email" class="form-label">Email</label>
        <br>
        <div class="input-group">

          <span class="input-group-text" id="emailInput">📧</span>
          <input type="text" class="form-control" required name="email" [(ngModel)]="newUser.email"
            (ngModelChange)="update()" />
        </div>
      </div>
      <div class="col-md-5">
        <label for="phoneNumber" class="form-label">Phone Number</label>
        <br>
        <div class="input-group">
          <span class="input-group-text" id="phoneNumberInput">☎</span>
          <input type="phoneNumber" class="form-control" name="phoneNumber" [(ngModel)]="newUser.phoneNumber"
            (ngModelChange)="update()" />
        </div>
      </div>

      <div class="col-md-12">
        <label for="imageUrl" class="form-label">Profile Image URL</label>
        <br>
        <div class="input-group">
          <span class="input-group-text" id="addonImageUrl">📷</span>
          <input type="text" class="form-control" name="imageUrl" [(ngModel)]="newUser.imageUrl"
            (ngModelChange)="update()" />
        </div>
      </div>
      <div class="col-md-12">
        <label for="employer" class="form-label">Company [if applicable]</label>
        <br>
        <div class="input-group">
          <span class="input-group-text" id="companyInput">💼</span>
          <input type="text" class="form-control" name="employer" [(ngModel)]="newUser.employer"
            (ngModelChange)="update()" />
        </div>
      </div>
      <!-- <div class="col-md-4">
      </div>
      <div class="col-md-2">
        <button class="btn btn-success btn-sm" value="Register" (click)="register()">Register</button>
      </div>
      <div class="col-md-2">
        <button class="btn btn-danger btn-sm" value="Cancel" (click)="cancel()">Cancel</button>
      </div>
      <div class="col-md-4">
      </div> -->
      <div class="btn-group" style="text-align: center;">
        <a id="registerButton" class="btn btn-md" value="Register" (click)="register()">Register</a>
        <a id="cancelButton" class="btn btn-md" value="Cancel" (click)="cancel()">Cancel</a>
      </div>



    </form>
  </div>
</div>

<div id="padded">

</div>


<!--
<div id="registerUser" class="container-liquid" style="text-align: center; padding-top: 10%;">
  <form name="registrationForm">
    <input type="text" name="username" [(ngModel)]="newUser.username" placeholder="Username" />
    <p *ngIf="duplicateUsername">Username already in use!</p>
    <br *ngIf="!duplicateUsername">
    <br *ngIf="!duplicateUsername">
    <input type="password" name="password" [(ngModel)]="newUser.password" placeholder="Password" />
    <br>
    <br>
    <input type="text" name="firstName" placeholder="First Name" [(ngModel)]="newUser.firstName"
      (ngModelChange)="update()" />
    <br />
    <br />
    <input type="text" name="lastName" placeholder="Last Name" [(ngModel)]="newUser.lastName"
      (ngModelChange)="update()" />
    <br />
    <br />
    <input type="text" name="email" placeholder="Email" [(ngModel)]="newUser.email" (ngModelChange)="update()" />
    <br />
    <br />
    <input type="text" name="phoneNumber" placeholder="Phone Number" [(ngModel)]="newUser.phoneNumber"
      (ngModelChange)="update()" />
    <br />
    <br />
    <input type="text" name="imageUrl" placeholder="Image URL" [(ngModel)]="newUser.imageUrl"
      (ngModelChange)="update()" /> <br>
    <button class="btn btn-outline-success my-2 my-sm-0" value="Register" (click)="register()">Register</button>
    <button stye="padding: 10px" class="btn btn-outline-danger my-2 my-sm-0" value="Cancel"
      (click)="cancel()">Cancel</button>
  </form>
</div> -->
