@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

/* html,
body {
  margin-top: 150px;
  height: 100%;
} */

/* html {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background: #b5b5b5;
  background: -moz-linear-gradient(
    45deg,
    #b5b5b5 0%,
    #bdbdc2 33%,
    #464746 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #b5b5b5 0%,
    #bdbdc2 33%,
    #464746 100%
  );
  background: linear-gradient(45deg, #b5b5b5 0%, #bdbdc2 33%, #464746 100%);
} */
body {
  margin-top: 105px;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background: #b5b5b5;
  background: -moz-linear-gradient(
    45deg,
    #b5b5b5 0%,
    #bdbdc2 33%,
    #464746 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #b5b5b5 0%,
    #bdbdc2 33%,
    #464746 100%
  );
  background: linear-gradient(45deg, #b5b5b5 0%, #bdbdc2 33%, #464746 100%);
}
