@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

/* .page-container {
  position: relative;
  min-height: 60vh;
} */
body {
  background: #b5b5b5;
  background: -moz-linear-gradient(
    45deg,
    #b5b5b5 0%,
    #bdbdc2 33%,
    #464746 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #b5b5b5 0%,
    #bdbdc2 33%,
    #464746 100%
  );
  background: linear-gradient(45deg, #b5b5b5 0%, #bdbdc2 33%, #464746 100%);
}

#outsideBorder {
  vertical-align: middle;
  /* margin-top: 250px; */
  width: 550px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
  border-radius: 8px;
  background-color: rgb(33, 34, 35);
  /* padding: 1em 1em 1em 1em; */
  /* padding: 2em 2em 2em 2em; */
}

#editProfileOutside {
  vertical-align: middle;
  /* margin-top: 250px; */
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
  border-radius: 8px;
  color: white;
  background-color: rgb(33, 34, 35);
  /* padding: 1em 1em 1em 1em; */
  padding: 1em 3em 3em 3em;
}

#newChatOutside {
  vertical-align: middle;
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
  border-radius: 8px;
  color: white;
  background-color: rgb(33, 34, 35);
  padding: 1em 3em 3em 3em;
  text-shadow: 1px 1px 2px white;
}
#sendChat {
  text-align: left;
  color: white;
  text-shadow: 1px 1px 4px red;
}

#enginExIntro,
#enginExP {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
#jobText {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
#welcomeHeading {
  font-family: "Irish Grover", cursive;
  font-size: 40px;
  font-weight: bold;
  color: black;
}
