::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: white;
  background-color: rgb(40, 39, 40);
  opacity: 1 !important;
  border-radius: 8px;
  align-items: center;
}
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label {
  color: white;
  background-color: rgb(40, 37, 37);

  border-radius: 8px;
  align-items: center;
}
