<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
  integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
<style>
  .accordion {
    background-color: rgb(82, 82, 82);
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }

  .active,
  .accordion:hover {
    background-color: #ccc;
  }

  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
  }

  .appWaiting {
    font-weight: bold;
    background-color: rgb(210, 180, 180);
  }

  .appWaitingBadge {
    visibility: hidden;
  }
</style>
<div *ngIf="!showNewJob">
  <button (click)="createNewPost()" class="btn btn-primary" *ngIf="loggedIn()">Create New Job</button>
  <label for="status" *ngIf="!getRoute() && !selected">Filter by Job Status:</label>
  <select name="status" *ngIf="!getRoute() && !selected" [(ngModel)]="statusId">
    <option *ngFor="let stat of jobStatuses" [ngValue]="stat.id">{{stat.name}}</option>
  </select>
</div>

<div>
  <div *ngIf="!selected && !showNewJob && !editJob" style="text-align: center">
    <div class="wrap">
      <mat-card class="flex" style="min-height: 50px;">
        <mat-card-title>Job Postings</mat-card-title>
        <div class="scrollable">
          <mat-card-content>
            <div>
              <table class="table table-striped table-hover table-bordered" *ngIf="getRoute()">
                <thead class="table-dark">
                  <tr>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>Completion Date</th>
                    <th>Posted Date</th>
                    <th>Status</th>
                    <th>View Details</th>
                    <th>Edit Job</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let job of jobPosts | userJob: activeUser'>
                    <td>{{job.jobRequirements}}</td>
                    <td>{{job.startDate}}</td>
                    <td>{{job.completionDate}}</td>
                    <td>{{job.datePosted}}</td>
                    <td>{{job.status.name}}</td>
                    <td><button (click)="displayJob(job)" class="btn btn-primary">
                        View Job
                        <span [ngClass]="appStyleBadge(job)">
                          {{newAppCount}}
                        </span></button></td>
                    <td><button (click)="setEditJob(job)" class="btn btn-primary">Edit Job</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<div *ngIf="!getRoute()">
  <div *ngIf="!selected && !showNewJob && !editJob" style="text-align: center">
    <div class="wrap">
      <mat-card class="flex" style="min-height: 50px;">
        <mat-card-title>Job Postings</mat-card-title>
        <div class="scrollable">
          <mat-card-content>
            <div>
              <table class="table table-striped table-hover table-bordered">
                <thead class="table-dark">
                  <tr>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>Completion Date</th>
                    <th>Posted Date</th>
                    <th>Status</th>
                    <th>View Details</th>
                    <th *ngIf="loggedIn()">Edit Job</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let job of jobPosts'>
                    <td>{{job.jobRequirements}}</td>
                    <td>{{job.startDate}}</td>
                    <td>{{job.completionDate}}</td>
                    <td>{{job.datePosted}}</td>
                    <td>{{job.status.name}}</td>
                    <td><button (click)="displayJob(job)" class="btn btn-primary">View Job</button></td>
                    <td *ngIf="loggedIn() && job.user.id == activeUser.id"><button (click)="setEditJob(job)"
                        class="btn btn-primary">Edit Job</button></td>
                    <td *ngIf="loggedIn() && job.user.id != activeUser.id"><button (click)="setEditJob(job)"
                        disabled="disabled" class="btn btn-primary">Edit Job</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
  </div>
  <div *ngIf="!selected && editJob">
    <form>
      <label>Job Description:</label>
      <input class="form-control form-control-lg" placeholder="Job Description" type="text" name="jobRequirements"
        [(ngModel)]="editJob.jobRequirements">
      <label>Start Date:</label>
      <input class="form-control form-control-lg" placeholder="Start Date" ype="date" min="2018-07-22"
        name="jobStartDate" [(ngModel)]="editJob.startDate">
      <label>Completion Date:</label>
      <input class="form-control form-control-lg" placeholder="Completion Date" ype="date" min="2018-07-22"
        name="jobCompletionDate" [(ngModel)]="editJob.completionDate">
      <select name="status" [(ngModel)]="editJob.status">
        <option *ngFor="let stat of jobStatuses" [ngValue]="stat">{{stat.name}}</option>
      </select>
      <label for="jobType">Choose a Job Type:</label>
      <select name="jobType" [(ngModel)]="editJob.type">
        <option *ngFor="let type of jobTypes" [ngValue]="type">{{type.name}}</option>
      </select>
      <button (click)="update(editJob)" class="btn btn-primary">Update Job Post</button>
      <button (click)="editJob = null" class="btn btn-warning" style="margin-left: 10px;">Cancel
        Changes</button>
      <button (click)="deletePost(editJob)" class="btn btn-danger" style="margin-left: 10px;">Delete
        Post</button>
    </form>
  </div>
  <div>
    <div *ngIf="showNewJob">
      <label>Job Description:</label>
      <input class="form-control form-control-lg" placeholder="Job Description" type="text" name="jobRequirements"
        [(ngModel)]="newJob.jobRequirements">
      <label>Start Date:</label>
      <input class="form-control form-control-lg" placeholder="Start Date" type="date" min="2018-07-22"
        name="jobStartDate" [(ngModel)]="newJob.startDate">
      <label>Completion Date:</label>
      <input class="form-control form-control-lg" placeholder="Completion Date" type="date" min="2018-07-22"
        name="jobCompletionDate" [(ngModel)]="newJob.completionDate">
      <label>Developers Needed:</label>
      <input class="form-control form-control-lg" placeholder="# of Developers Needed" type="number"
        name="jobDevelopersNeeded" [(ngModel)]="newJob.developersNeeded">
      <label for="status">Choose a Job Status:</label>
      <select name="status" [(ngModel)]="newJob.status">
        <option *ngFor="let stat of jobStatuses" [ngValue]="stat">{{stat.name}}</option>
      </select>
      <label for="jobType">Choose a Job Type:</label>
      <select name="jobType" [(ngModel)]="newJob.type">
        <option *ngFor="let type of jobTypes" [ngValue]="type">{{type.name}}</option>
      </select>
      <button (click)="createPreCall(newJob)" class="btn btn-primary">Create Job Post</button>
    </div>
    <div *ngIf="selected">
      <div>
        <ngb-accordion activeIds="static-1">
          <ngb-panel title="Job Info" id="static-1">
            <ng-template ngbPanelContent>
              <ul>
                <li>Job Description: {{selected.jobRequirements}}</li>
                <li>Approved Applicants Required: {{selected.developersNeeded}}</li>
                <li>Is Active: {{selected.jobActive}}</li>
                <li>Start Date: {{selected.startDate}}</li>
                <li>Completion Date: {{selected.completionDate}}</li>
                <li>Date Posted: {{selected.datePosted}}</li>
                <li>Status: {{selected.status.name}}</li>
                <li>Job Type: {{selected.type.name}}</li>
              </ul>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
      <div *ngIf="isOwner">
        <ngb-accordion>
          <ngb-panel title="Client Info">
            <ng-template ngbPanelContent>
              <ul>
                <li>First Name: {{selected.user.firstName}}</li>
                <li>Last Name: {{selected.user.lastName}}</li>
                <li>Email: {{selected.user.email}}</li>
                <li>Phone Number: {{selected.user.phoneNumber}}</li>
              </ul>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
      <div *ngIf="isOwner">
        <ngb-accordion>
          <ngb-panel *ngIf="apps && apps.length > 0"
            title="{{apps.length}} Applications Submitted for {{selected.developersNeeded}} Positions">
            <ng-template ngbPanelContent>
              <ul *ngFor='let app of apps'>
                <li>ID: {{app.id}}</li>
                <li>First Name: {{app.user.firstName}}</li>
                <li>Last Name: {{app.user.lastName}}</li>
              </ul>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
      <div *ngIf="!isOwner">
        <ngb-accordion>
          <ngb-panel *ngIf="apps && apps.length > 0"
            title="{{apps.length}} Applications Submitted for {{selected.developersNeeded}} Positions">
            <ng-template ngbPanelContent>
              <div class="apps">
                <ul *ngFor='let app of apps'>
                  <h3>{{app.user.firstName}} {{app.user.lastName}}</h3>
                  <li>Application Status: {{app.status}}</li>
                  <li>Application Date: {{app.date}}</li>
                  <li>Application Approved: {{app.approved}}</li>
                  <div>
                    <mat-tab-group class="remove-border-bottom">
                      <mat-tab label="Experiences">
                        <ul *ngFor='let exp of app.user.experiences'>
                          <li>Company Name: {{exp.companyName}}</li>
                          <li>Job Title: {{exp.jobTitle}}</li>
                          <li>Start Date: {{exp.startDate}}</li>
                          <li>End Date: {{exp.endDate}}</li>
                        </ul>
                      </mat-tab>
                      <mat-tab label="Education">
                        <ul *ngFor='let ed of app.user.educations'>
                          <li>Institution Name: {{ed.institutionName}}</li>
                          <li>Education Type: {{ed.educationType}}</li>
                          <li>Degree Type: {{ed.degreeCertificateName}}</li>
                          <li>Completed: {{ed.completeDate}}</li>
                        </ul>
                      </mat-tab>
                      <mat-tab label="Skills">
                        <ul *ngFor='let sk of app.user.skills'>
                          <li>Skill Description: {{sk.skillTitle}}</li>
                          <li>Skill Level: {{sk.skillLevel}}</li>
                        </ul>
                      </mat-tab>
                    </mat-tab-group>
                    <div *ngIf="app.status == 'Open'">
                      <button (click)="approveApplication(app)" class="btn sm btn-primary">Approve
                        Application</button>
                      <button (click)="declineApplication(app)" class="btn sm btn-primary">Decline
                        Application</button>
                    </div>
                  </div>

                </ul>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
      <div *ngIf="isOwner && loggedIn()">
        <button (click)="createApplication(selected)" class="btn btn-primary">Apply For Job!</button>
      </div>
      <button (click)="returnToList()" class="btn btn-primary">Back</button>
    </div>
  </div>
</div>
