<div style="text-align: center">
  <ng-template #content let-modal id="editMyJob" style="text-align: center">
    <div id="editJobOutside" *ngIf="editJob">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"
          style="text-align:center; margin-bottom: auto; margin-top: 10px; color: white">
          <strong>Edit Job</strong>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="cancel()"
          (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="editJobForm">
          <label class="form-label" for="jobRequirements">Job Description</label>
          <textarea rows="2" cols="40" class="form-control" type="text" name="jobRequirements"
            [(ngModel)]="editJob.jobRequirements"></textarea>

          <label class="form-label" for="startDate">Start Date</label>
          <input class="form-control" type="date" name="startDate" [(ngModel)]="editJob.startDate" />

          <label class="form-label" for="completionDate">Complete Date</label>
          <input class="form-control" type="date" name="completionDate" [(ngModel)]="editJob.completionDate" />

          <label class="form-label" for="developersNeeded">Developers Needed</label>
          <input class="form-control" required type="number" name="developersNeeded"
            [(ngModel)]="editJob.developersNeeded" />

          <label class="form-label" for="dateClosed">Date Closed</label>
          <input class="form-control" type="date" name="dateClosed" [(ngModel)]="editJob.dateClosed" />

          <label class="form-label" for="jobActive">Job Active</label>
          <input class="form-control" required type="boolean" name="jobActive" [(ngModel)]="editJob.jobActive" />
          <br>
          <div class="dropdown">
            <button class="btn btn-primary btn-outline-light" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="type">
              <strong> Job Type &nbsp;&nbsp;</strong>
              <select name="type" [(ngModel)]="editJob.type">
                <option *ngFor="let type of jobTypes" [ngValue]="type">
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li class="dropdown-item">{{type.name}}</li>
                  </ul>
                </option>
              </select>
            </button>
          </div>
          <br>
          <br>
          <div class="dropdown">
            <button class="btn btn-primary btn-outline-light" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="status">
              Job Status &nbsp;&nbsp;
              <select name="status" [(ngModel)]="editJob.status">
                <option *ngFor="let status of jobStatuses" [ngValue]="status">
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li class="dropdown-item">{{status.name}}</li>
                  </ul>
                </option>
              </select>
            </button>
            <br>
          </div>
          <br>

          <div style="text-align: center">
            <div class="form-inline" style="text-align: center; margin-top: 4px">
              <button (click)="updateMyPost(editJob)" (click)="modal.close('Save click')"
                class="btn btn-outline-light btn-success">Update</button>
              <button (click)="editJob = null" (click)="modal.dismiss('Cross click')" (click)="cancel()"
                class="btn btn-outline-light btn-warning" style="margin-left: 10px;">Cancel</button>
              <button (click)="deletePost(editJob)" class="btn btn-outline-light btn-danger"
                style="margin-left: 10px;">Delete</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </ng-template>
</div>

<div
  style="text-align: center; border: 3px solid white; border-radius: 8px; margin-left: auto; margin-right: auto; border-color: white; background-color:  rgb(33, 34, 35); padding-right: 5px; padding-left: 5px; padding-top: 15px; padding-bottom: 15px; max-width: 100%">
  <div style="text-align: center; margin-left: auto; margin-right: auto;">

    <div *ngIf="!selected && !editJob">
      <mat-card>
        <mat-card-title>
          <h1>Job Postings</h1>
        </mat-card-title>

        <div
          style="text-align: center; border: 3px solid white; border-radius: 8px; margin-left: auto; margin-right: auto; border-color:white; background-color: white; padding-right: 15px; padding-left: 15px; max-width: 100%">

          <br>
          <div class="dropdown">
            <button class="btn btn-dark " type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" name="status">
              Status &nbsp;&nbsp;
              <select name="type" [(ngModel)]="statusId">
                <option *ngFor="let stat of jobStatuses" [ngValue]="stat.id">
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li class="dropdown-item">{{stat.name}}</li>
                  </ul>
                </option>
              </select>
            </button>
          </div>
          <br>

          <mat-card-content>
            <div class="scrollable">
              <table class="table table-striped table-hover table-bordered">
                <thead class="table-dark">
                  <tr>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>Completion Date</th>
                    <th>Posted Date</th>
                    <th>Status</th>
                    <th>View Details</th>
                    <th *ngIf="loggedIn()">Edit Job</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let job of jobPosts | openJob: statusId'>
                    <td>{{job.jobRequirements}}</td>
                    <td>{{job.startDate}}</td>
                    <td>{{job.completionDate}}</td>
                    <td>{{job.datePosted}}</td>
                    <td>{{job.status.name}}</td>
                    <td><button (click)="displayJob(job)" class="badge btn-primary btn-sm">View Job</button></td>

                    <td *ngIf="activeUser?.id == job.user.id">
                      <button (click)="setEditJob(job)" class="badge btn-warning btn-sm">Edit
                        Job</button>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<div *ngIf="selected">
  <ngb-accordion>
    <ngb-panel title="Job Info">
      <ng-template ngbPanelContent>
        <ul>
          <li>Job Description: {{selected.jobRequirements}}</li>
          <li>Approved Applicants Required: {{selected.developersNeeded}}</li>
          <li>Is Active: {{selected.jobActive}}</li>
          <li>Start Date: {{selected.startDate}}</li>
          <li>Completion Date: {{selected.completionDate}}</li>
          <li>Date Posted: {{selected.datePosted}}</li>
          <li>Status: {{selected.status?.name}}</li>
          <li>Job Type: {{selected.type?.name}}</li>
        </ul>

        <div *ngIf="activeUser?.id != selected.user.id">
          <br>
          <button (click)="applyForJob(selected)" class="btn sm btn-success btn-outline-light">Submit
            Application
          </button>
          <button (click)="returnToList()" style="margin-left: 10px;"
            class="btn sm btn-danger btn-outline-light">Return</button>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <ngb-accordion>
    <ngb-panel title="Client Info">
      <ng-template ngbPanelContent>
        <ul>
          <li>First Name: {{selected.user?.firstName}}</li>
          <li>Last Name: {{selected.user?.lastName}}</li>
          <li>Last Name: {{selected.user?.id}}</li>
        </ul>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <ngb-accordion *ngIf="activeUser?.id == selected.user.id">
    <ngb-panel *ngIf="apps.length > 0"
      title="{{apps.length}} Applications Submitted for {{selected.developersNeeded}} Positions">
      <ng-template ngbPanelContent>
        <div class="apps">
          <ul *ngFor='let app of apps'>
            <div>
              <h3>{{app.user.firstName}} {{app.user.lastName}}</h3>
              <li>Application Status: {{app.status}}</li>
              <li>Application Date: {{app.date}}</li>
              <li *ngIf="app.approved == true" style="color: green;">Application Approved: {{app.approved}}</li>
              <li *ngIf="app.approved == false" style="color: red;">Application Approved: {{app.approved}}</li>
            </div>
            <div>
              <mat-tab-group class="remove-border-bottom">
                <mat-tab label="Experiences">
                  <ul *ngFor='let exp of app.user.experiences'>
                    <div>
                      <li>Company Name: {{exp.companyName}}</li>
                      <li>Job Title: {{exp.jobTitle}}</li>
                      <li>Start Date: {{exp.startDate}}</li>
                      <li>End Date: {{exp.endDate}}</li>
                    </div>
                  </ul>
                </mat-tab>
                <mat-tab label="Education">
                  <ul *ngFor='let ed of app.user.educations'>
                    <div>
                      <li>Institution Name: {{ed.institutionName}}</li>
                      <li>Education Type: {{ed.educationType}}</li>
                      <li>Degree Type: {{ed.degreeCertificateName}}</li>
                      <li>Completed: {{ed.completeDate}}</li>
                    </div>
                  </ul>
                </mat-tab>
                <mat-tab label="Skills">
                  <ul *ngFor='let sk of app.user.skills'>
                    <div>
                      <li>Skill Description: {{sk.skillTitle}}</li>
                      <li>Skill Level: {{sk.skillLevel}}</li>
                    </div>
                  </ul>
                </mat-tab>
              </mat-tab-group>
              <div *ngIf="activeUser?.id == app.user.id">
                <br>
                <button (click)="approveApp(app)" class="btn sm btn-success btn-outline-light">Approve
                </button>
                <button (click)="denyApp(app)" style="margin-left: 10px;"
                  class="btn sm btn-danger btn-outline-light">Decline</button>
              </div>
              <div>
                <button (click)="returnToList()" style="margin-left: 10px;"
                  class="btn sm btn-danger btn-outline-light">Return</button>

              </div>

            </div>
          </ul>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
