/* ::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: white;
  background-color: rgb(40, 39, 40);
  opacity: 1 !important;
  border-radius: 8px;
  align-items: center;
}
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label {
  color: white;
  background-color: rgb(40, 37, 37);

  border-radius: 8px;
  align-items: center;
} */
.mat-card-title {
  text-align: center;
  color: white;
}
.mat-card {
  background-color: rgb(33, 34, 35);
  min-width: 55%;

  margin: 0 auto;
}

table {
  background-color: white;
  width: 100%;
  padding: 0.2rem, 0.2rem;
}

td {
  width: 1px;
  font-size: small;
}
th {
  font-size: small;
}

/* .flex {
  flex: auto;
  height: fit-content;
}

.wrap {
  border: black 50px;
}

.scrollable {
  overflow: auto;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 250px;
} */
