.sidenav-container {
  position: fixed;
  top: 220px;
  bottom: 60px;
  left: 0;
  /* background: rgba(255, 0, 0, 0.5); */
}

.mat-sidenav {
  align-items: left;
  justify-content: center;
  width: 150px;
  border-radius: 8px;
  background: rgb(137, 0, 0);
  font-size: large;
}

/* .sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
} */

.mat-drawer-container {
  background: none;
}
.mat-sidenav-content {
  /* display: fixed; */
  background: none;
  border-radius: 8px;
  position: sticky;
}
.mat-toolbar {
  position: sticky;
  z-index: 0;
  background: none;
  /* color: warn; */
}

/* position: fixed;
border-radius: 8px;
color: black;
font-size: large;
width: 150px; */
