.sidenav-container {
  position: fixed;
  top: 235px;

  left: 0;
}

.sidenav {
  width: 150px;
  background: rgba(255, 0, 0, 0.847);
  position: fixed;
  border-radius: 8px;
  color: black;
  justify-content: left;
  font-size: large;
}

.mat-sidenav-content .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
