<ng-template #content let-modal id="newChatOutside">
  <div id="newChatOutside">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        <strong>Send Chat</strong>
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="cancel()" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div id="formBody">
        <form id="sendChat">
          <div class="dropdown">
            <button class="btn btn-light" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false" name="username">
              <strong>Recipient&nbsp;&nbsp;</strong>
              <select name="username" [(ngModel)]="rec.username">
                <option *ngFor="let rec of users" [ngValue]="rec.username">
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li class="dropdown-item" required>{{rec.username}}</li>
                  </ul>
                </option>
              </select>
            </button>
          </div>
          <br>
          <!-- <label class="form-label" for="receiverUsername">Recipient:</label>
          <input class="form-control" type="text" placeholder="Username" name="receiverUsername"
            [(ngModel)]="receiverUsername" /> -->
          <label class="form-label" for="subject">Subject:</label>
          <input class="form-control" type="text" placeholder="Subject" name="subject" [(ngModel)]="newChat.subject" />
          <label class="form-label" for="message">Message:</label>
          <textarea class="form-control" type="text" placeholder="Message" cols="41" rows="5" name="message"
            [(ngModel)]="newChat.message"></textarea>
        </form>

      </div>
    </div>
    <div class="modal-footer">
      <div class="btn-group">
        <a id="sendInput" class="btn btn-md" (click)="create(newChat, rec)" (click)="modal.close('Save click')">Send</a>
        <a id="cancelInput" class="btn btn-md" value="Cancel" (click)="modal.dismiss('Close click')"
          (click)="cancel()">Cancel</a>
      </div>

      <!-- <button type="button" class="btn btn-success btn-outline-light" (click)="create(newChat, receiverUsername)"
        (click)="modal.close('Save click')">Send</button>
      <button type="button" class="btn btn-dark btn-outline-light" (click)="cancel()"
        (click)="modal.close('Close click')">Close</button> -->
    </div>
  </div>
</ng-template>
