<ng-template #content let-modal>
  <div class="modal-header" id="newChatOutside">
    <h4 class="modal-title" id="modal-basic-title"
      style="text-align:center; margin-bottom: auto; margin-top: 10px; color: black">
      <strong>Chat Message</strong>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-form #values="ngForm" (ngSubmit)="create(newChat)">
      <label for="receiverUsername">Recipient:</label>
      <input placeholder="Username" name="receiverUsername" [(ngModel)]="receiverUsername" />
      <label for="subject">Subject:</label>
      <input placeholder="Subject" name="subject" [(ngModel)]="newChat.subject" />

      <label for="message">Message:</label>
      <textarea placeholder="Message" cols="41" rows="5" name="message" [(ngModel)]="newChat.message"></textarea>
      <button class="btn btn-success btn-outline-light" (click)="modal.close('ngSubmit')">
        Send
      </button>

    </ng-form>
  </div>
  <div class="modal-footer">


  </div>
</ng-template>

<button type="button" class="btn btn-primary" data-toggle="modal" (click)="open(content)"
  data-target="#newChatOutside">Launch Chat</button>
<pre>{{ closeResult }}</pre>

<!-- <div id="newChatOutside" *ngIf="addButton">
  <h4 class="modal-title" style="text-align:center; margin-bottom: auto; margin-top: 10px; color: white"><strong>Chat
      Message</strong></h4>

  <div id="sendChat">
    <br>
    <form name="sendChatMessage" id="chatForm">
      <div class="form-group">
        <label class="form-label" for="receiverUsername"><b>Recipient:</b></label>
        <input class="form-control" type="text" name="receiverUsername" placeholder="Username"
          [(ngModel)]="receiverUsername" />
      </div>
      <div class="form-group">
        <label class="form-label" for="subject"><b>Subject:</b></label>
        <input class="form-control" type="text" name="subject" [(ngModel)]="newChat.subject" />
      </div>
      <div class="form-group">
        <label class="form-label" for="message"><b>Message:</b></label>
        <textarea name="message" cols="45" rows="10" [(ngModel)]="newChat.message"></textarea>
      </div>
      <br>
      <div style=" text-align: center; margin-left: auto; margin-right: auto;">
        <button class="btn btn-success btn-outline-light" (click)="create(newChat)">
          Send
        </button>
        <button style="margin-left: 10px" class="btn btn-warning btn-outline-light"
          (click)="addButton=false && receiverUsername = null">
          Cancel
        </button>
      </div>

    </form>
    <br>
  </div>
</div> -->


<ngb-accordion [closeOthers]="true">
  <ngb-panel title={{chat.subject}} *ngFor="let chat of receivedChats">
    <ng-template ngbPanelContent>
      <b *ngIf="chat.sender"> Sender: {{chat.sender.id}} </b><br>
      <b *ngIf="chat.receiver"> Receiver: {{chat.receiver.username}} </b><br>
      <strong>Subject: {{chat.subject}}</strong><br>
      Message: {{chat.message}} <br>
      Received: {{chat.dateTimeStamp | date: 'medium'}}<br>


      <button *ngIf="chat.sender != activeUser && chat" class="badge btn-primary btn-dark-sm"
        (click)="setReplyChat(chat)">⏎</button>
      <button *ngIf="chat.sender == activeUser" class="badge btn-light btn-sm" (click)="setEditChat(chat)">✏️</button>
      <button *ngIf="chat.sender == activeUser" class="badge btn-light btn-sm" (click)="deleteChat(chat.id)">❌</button>
      <!-- <button class="badge btn-light btn-sm" (click)="setEditChat(chat)">✏️</button>
      <button class="badge btn-light btn-sm" (click)="deleteChat(chat.id)">❌</button> -->
      <br>
      <div *ngFor="let reply of chat.replies" style="color: blue">

        Subject: {{reply.subject}}<br>
        Message: {{reply.message}}<br>
        Received: {{reply.dateTimeStamp | date: 'medium'}}<br>
        <b *ngIf="reply.sender"> Sender: {{reply.sender.username}} </b><br>
        <br>
        <button *ngIf="reply.sender != activeUser && reply" class="badge btn-primary btn-dark-sm"
          (click)="setReplyChat(reply)">⏎</button>
        <button *ngIf="reply.sender == activeUser" class="badge btn-light btn-sm"
          (click)="setEditChat(reply)">✏️</button>
        <button *ngIf="reply.sender == activeUser" class="badge btn-light btn-sm"
          (click)="deleteChat(reply.id)">❌</button>
      </div>
      <br>
      <div *ngFor="let chat of reply.replies">
        <b *ngIf="chat.sender"> Sender: {{chat.sender.username}} </b><br>
        Subject: {{chat.subject}}<br>
        Message: {{chat.message}}<br>
        Received: {{chat.dateTimeStamp | date: 'medium'}}<br>


        <button *ngIf="chat.sender != activeUser && chat" class="badge btn-primary btn-dark-sm"
          (click)="setReplyChat(chat)">⏎</button>
        <button *ngIf="chat.sender == activeUser" class="badge btn-light btn-sm" (click)="setEditChat(chat)">✏️</button>
        <button *ngIf="chat.sender == activeUser" class="badge btn-light btn-sm"
          (click)="deleteChat(chat.id)">❌</button>
      </div>
      <br>
      <div *ngIf="chatReply" style="text-align: center" class="form-control">
        <form>
          <br>
          <label for="reply.subject">Subject</label>
          <br>
          <input type="text" name="reply.subject" placeholder="{{chatReply.subject}}" [(ngModel)]="reply.subject" />
          <br>
          <label for="reply.message">Message</label>
          <br>
          <input type="text" name="reply.message" [(ngModel)]="reply.message" />
          <br>
          <br>
          <button class="btn btn-success btn-outline-light btn-sm" (click)="createReply(chatReply.id)">
            Send
          </button>
          <button style="margin-left: 10px" class="btn btn-secondary btn-outline-light btn-sm"
            (click)="chatReply = null">Cancel</button>
        </form>
      </div>



      <div *ngIf="editChat" style="text-align: center" class="form-control">
        <form>
          <br>
          <label for="selected.subject">Subject</label>
          <br>
          <input type="text" name="selected.subject" [(ngModel)]="editChat.subject" />
          <br>
          <label for="selected.message">Message</label>
          <br>
          <input type="text" name="selected.subject" [(ngModel)]="editChat.message" />
          <br>
          <br>
          <button class="btn btn-success btn-outline-light btn-sm" (click)="updateChat(editChat)">
            Save
          </button>
          <button style="margin-left: 10px" class="btn btn-secondary btn-outline-light btn-sm"
            (click)="editChat = null">Cancel</button>
        </form>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<!-- <div id="addButton" *ngIf="!addButton">

  <button id="addButton" class="badge btn-success" (click)="addButton = true">➕ Chat</button>
</div>

<div id="newChat" *ngIf="addButton">
  <br>
  <form class="form-control">
    <h5 style="text-shadow: 2px 2px 4px black">New Chat</h5>
    <br>
    <label for="newChat.receiver.id">Recipient</label>
    <br>
    <input type="text" name="receiverUsername" placeholder="Username" [(ngModel)]="receiverUsername" />
    <br>
    <label for="newChat.subject">Subject</label>
    <br>
    <input type="text" name="newChat.subject" [(ngModel)]="newChat.subject" />
    <br>
    <label for="newChat.message">Message</label>
    <br>
    <input type="text" name="newChat.message" [(ngModel)]="newChat.message" />
    <br>
    <br>
    <button class="btn btn-success btn-outline-light btn-sm" (click)="create(newChat)">
      Save
    </button>
    <button style="margin-left: 10px" class="btn btn-secondary btn-outline-light btn-sm"
      (click)="addButton=false && receiverUsername = null">
      Cancel
    </button>

  </form>
  <br>
</div> -->
