<div class="navbar">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top">

    <a class="navbar-brand" href="#/home"><img src="assets/EnginEx.png" style="border-radius: 50%;" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="!loggedIn()">
          <a class="nav-link" href="#/visitor-home"><strong>Visitor Home</strong></a>
        </li>
        <li class="nav-item active">
          <button *ngIf="!loggedIn()" class="btn btn-success btn-outline-dark btn-lg" (click)="register()"
            style="margin-left: 50px;"><strong>Register</strong></button>
        </li>
        <li class="nav-item" *ngIf="loggedIn()">
          <a class="nav-link" href="#/jobs"><strong>Job Posts</strong></a>
        </li>

        <li class="nav-item" *ngIf="loggedIn()">
          <a class="nav-link" href="#/sendchat"><strong>Send Chat</strong></a>
        </li>
        <li class="nav-item" *ngIf="loggedIn()">
          <a class="nav-link" href="#/listjob"><strong>Create Job Post</strong></a>
        </li>
        <li class="nav-item" *ngIf="loggedIn()">
          <a class="nav-link" href="#/editprofile"><strong style="color: yellow">Edit Profile</strong></a>
        </li>
        <li class="nav-item" *ngIf="loggedIn()">
          <a class="nav-link" href="#/home" (click)="logOut()"><strong style="color: blue">Logout</strong></a>
        </li>
        <li class="nav-item" *ngIf="loggedIn() && adminRights">
          <a class="nav-link" href="#/adminDash"> <strong style="margin-left: 350px; color: red;">ADMIN
              DASH</strong></a>
        </li>

      </ul>
      <div id="userLoginInline" style="margin-left: auto; margin-right: 0px;">
        <form class="form-inline-lg" *ngIf="!loggedIn()">
          <input class="form-control-lg" name="username" type="text" placeholder="Username" aria-label="Username"
            [(ngModel)]="user.username">
          <input class="form-control-lg" name="password" type="password" placeholder="Password" aria-label="Password"
            [(ngModel)]="user.password">
        </form>
      </div>

      <button *ngIf="!loggedIn()" style="margin-left: 3px; margin-right: 5px; margin-top: auto; margin-bottom: auto;"
        class="btn btn-dark btn-outline-light btn-lg" (click)="login(user)">Login</button>

    </div>

  </nav>
</div>

<div class="jumbotron jumbotron-fluid" style="text-align: center">
  <div class="container">
    <h1 id="enginExIntro" class="display-4">Welcome to Engineer Exchange</h1>
    <p id="enginExP" style="width: 500px; ">Our sole focus throughout the development of EnginEx was
      to provide a platform for aspiring
      developers to extend or expand their knowledge and experience.</p>
    <br>
  </div>
</div>
<hr>
