:host-contex .nav-link > li > a {
  forced-color-adjust: white;
}
#navbarSupportedContent > ul > li > a {
  color: white;
}
.navbar {
  height: 4.5rem;
  margin-bottom: 10px;

  background: #e0e0e0;
  background: -moz-linear-gradient(top, #e0e0e0 0%, #4d4d4f 49%, #d8dbd8 100%);
  background: -webkit-linear-gradient(
    top,
    #e0e0e0 0%,
    #4d4d4f 49%,
    #d8dbd8 100%
  );
  background: linear-gradient(to bottom, #e0e0e0 0%, #4d4d4f 49%, #d8dbd8 100%);

  width: 100%;
}
#welcomeHeading {
  font-family: "Irish Grover", cursive;
  font-size: 40px;
  font-weight: bold;
  color: black;
}

#outsideBorder {
  vertical-align: middle;
  /* margin-top: 250px; */
  width: 550px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
  border-radius: 8px;
  background-color: rgb(33, 34, 35);
  /* padding: 1em 1em 1em 1em; */
  /* padding: 2em 2em 2em 2em; */
}

#editProfileOutside {
  vertical-align: middle;
  /* margin-top: 250px; */
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
  border-radius: 8px;
  color: white;
  background-color: rgb(33, 34, 35);
  /* padding: 1em 1em 1em 1em; */
  padding: 1em 3em 3em 3em;
}

/* #enginExLogo {
  width: 150px;
  height: auto;
  vertical-align: middle;
  border-radius: 50%;
} */

#enginExIntro,
#enginExP {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
#jobText {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
