<!-- <h1 style="text-align:center">Skill</h1> -->


<ngb-accordion [closeOthers]="true">
  <ngb-panel title={{skill.skillTitle}} *ngFor="let skill of skills">
    <ng-template ngbPanelContent>
      <strong>{{skill.skillTitle}}</strong><br>
      Skill Level: {{skill.skillLevel}} <br>
      <br>
      <button *ngIf="!editSkill" class="badge btn-light btn-sm" (click)="setEditSkill(skill)">✏️</button>
      <button *ngIf="!editSkill" class="badge btn-light btn-sm" (click)="delete(skill.id)">❌</button>
      <div *ngIf="editSkill" style="text-align: center" class="form-control">
        <form>
          <br>
          <label for="jobTitle">Skill Name</label>
          <br />
          <input type="text" name="selected.skillTitle" [(ngModel)]="editSkill.skillTitle" />
          <br />
          <label for="skillLevel">Skill Level</label>
          <br />
          <input type="text" name="selected.companyName" [(ngModel)]="editSkill.skillLevel" />
          <br />
          <br>
          <button class="btn btn-success btn-outline-light btn-sm" (click)="updateSkill(editSkill)">
            Save
          </button>
          <button style="margin-left: 10px" class="btn btn-secondary btn-outline-light btn-sm"
            (click)="editSkill = null">Cancel</button>
        </form>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<div id="addButton" *ngIf="!addButton">
  <button class="badge btn-success" (click)="addButton = true">➕ Skill</button>

</div>


<div id="newSkill" *ngIf="addButton">
  <br>
  <form class="form-control">

    <h5 style="text-shadow: 2px 2px 4px black">New Skill</h5>
    <label for="jobTitle">Job Title</label>
    <br>
    <input id="skillTitle" type="text" name="skillTitle" [(ngModel)]="newSkill.skillTitle" />
    <br />
    <label for="skillLevel">Skill Level</label>
    <br>
    <input id="skillLevel" type="text" name="skillLevel" [(ngModel)]="newSkill.skillLevel" />
    <br />
    <br>
    <button class="btn btn-success btn-outline-light btn-sm" (click)="create(newSkill)">
      Save
    </button>
    <button style="margin-left: 10px" class="btn btn-secondary btn-outline-light btn-sm" (click)="addButton=false">
      Cancel
    </button>

  </form>
  <br>
</div>
