<style>
  .float-child {
    width: 50%;
    float: left;
    padding: 5px;
  }

  .loggedIn {
    max-width: 30%;
  }

  .loggedOut {
    max-width: 18%;

  }
</style>

<div class="input-group">
  <span class="input-group-text">🔎</span>
  <input type="search" class="form-control" placeholder="Skill Keyword Search" aria-label="Search"
    aria-describedby="search-addon" name="keyword" [(ngModel)]="keyword" />
  <button id="skillSearchButton" class="btn btn-md" (click)="open(content)" (click)="search(keyword)">Search</button>
</div>



<!-- <section>

  <div class="form-outline" class="bg-image h-100" style="background-color: #1b7049;">
    <div class="form-control form-control-lg rounde bg-transparent text-white">
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <input type="text" class="form-control form-control-lg rounde bg-transparent text-white"
            placeholder="Developer Search" [(ngModel)]="keyword" />
          <button type="button" class="btn btn-primary" (click)="search(keyword)">
            <i class="fas fa-search fa-lg text-white"></i>
          </button>

        </div>
      </div>
    </div>
  </div>
</section> -->



<!-- <ul *ngIf="searchResults.length > 0 && !emailForm">
  <li *ngFor="let user of searchResults">{{user.firstName}} {{user.lastName}}
    <div *ngFor="let skill of user.skills">
      <span *ngIf="skill.skillTitle.includes(keyword)">{{skill.skillTitle}}: {{skill.skillLevel}}</span>
    </div>
    <a href="mailto:{{user.email}}?subject=Email from {{activeUser.firstName}} {{activeUser.lastName}} on Engineer Exchange
    &body=I saw your profile on Engineer Exchange and thought your skills might be perfect for my project.  I'd like to discuss a collaboration!"
      *ngIf="loggedIn()" style="text-decoration: none;">Contact Engineer</a>
  </li>
</ul> -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Developer Search By Skill</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="fluid-container scrollable" *ngIf="searchResults.length > 0">
      <div *ngFor="let user of searchResults; index as i" [ngClass]="loggedInClass()">
        <div class="row">
          <div class="col-auto">
            <div class="card" *ngIf="i < 6">
              <div class="card-body">
                <img src="{{user.imageUrl}}" width="50%">
                <h5 class="card-title">{{user.firstName}} {{user.lastName}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Skills</h6>
                <div *ngFor="let skill of user.skills">
                  <span class="card-text" *ngIf="checkKeyword(skill.skillTitle)"><strong>{{skill.skillTitle}}</strong>:
                    {{skill.skillLevel}}</span>
                </div><br>
                <a href="mailto:{{user.email}}?subject=Email from {{activeUser.firstName}} {{activeUser.lastName}} on Engineer Exchange
            &body=I saw your profile on Engineer Exchange and thought your skills might be perfect for my project.  I'd like to discuss a collaboration!"
                  *ngIf="loggedIn()" style="text-decoration: none; position: absolute; bottom: 0;">Contact Engineer</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
style="max-width: 100%; min-height: 275px;"
style="position: relative; top: 0; left: 25%;" width="50%"
-->

<!-- <div class="float-container scrollable" *ngIf="searchResults.length > 0">
  <div class="float-child" *ngFor="let user of searchResults; index as i" [ngClass]="loggedInClass()">
    <div class="card" style="max-width: 100%; min-height: 275px;" *ngIf="i < 6">
      <div class="card-body">
        <img src="{{user.imageUrl}}" width="50%" style="position: relative; top: 0; left: 25%;">
        <h5 class="card-title">{{user.firstName}} {{user.lastName}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Skills</h6>
        <div *ngFor="let skill of user.skills">
          <span class="card-text" *ngIf="checkKeyword(skill.skillTitle)"><strong>{{skill.skillTitle}}</strong>:
            {{skill.skillLevel}}</span>
        </div><br>
        <a href="mailto:{{user.email}}?subject=Email from {{activeUser.firstName}} {{activeUser.lastName}} on Engineer Exchange
    &body=I saw your profile on Engineer Exchange and thought your skills might be perfect for my project.  I'd like to discuss a collaboration!"
          *ngIf="loggedIn()" style="text-decoration: none; position: absolute; bottom: 0;">Contact Engineer</a>
      </div>
    </div>
  </div>
</div> -->
