<h2>Education Component</h2>
<div>
  <table *ngIf="educations.length > 0 && !selected">
    <thead>
      <tr>
        <th>Institution Name</th>
        <th>Education Type</th>
        <th>Degree/Certificate</th>
        <th>Completion Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let edu of educations" (click)="selected = edu">
        <td>{{edu.institutionName}}</td>
        <td>{{edu.educationType}}</td>
        <td>{{edu.degreeCertificateName}}</td>
        <td>{{edu.completeDate}}</td>
      </tr>
    </tbody>
  </table>
</div>
<form name="editEducation" *ngIf="selected && selectedDev">
  <input type="text" name="institutionName" [(ngModel)]="selected.institutionName"><br>
  <input type="text" name="eductionaType" [(ngModel)]="selected.educationType"><br>
  <input type="text" name="degreeCertificateName" [(ngModel)]="selected.degreeCertificateName"><br>
  <input type="date" name="completeDate" [(ngModel)]="selected.completeDate"><br>
  <button class="btn" (click)="edit(selected, selected.id, selectedDev.id)">Edit</button>
  <button class="btn" (click)="selected = null">Cancel</button>
</form>
