<h2>Education Component</h2>
<div>
  <table *ngIf="educations.length > 0">
    <thead>
      <tr>
        <th>Institution Name</th>
        <th>Education Type</th>
        <th>Degree/Certificate</th>
        <th>Completion Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let edu of educations">
        <td>{{edu.institutionName}}</td>
        <td>{{edu.educationType}}</td>
        <td>{{edu.degreeCertificateName}}</td>
        <td>{{edu.completeDate}}</td>
      </tr>
    </tbody>
  </table>
</div>
