<ngb-accordion [closeOthers]="true">
  <ngb-panel title={{edu.institutionName}} *ngFor="let edu of educations">
    <ng-template ngbPanelContent>
      <strong>{{edu.institutionName}}</strong><br>
      Institution Type: {{edu.educationType}} <br>
      Certificate Received: {{edu.degreeCertificateName}} <br>
      Graduated: {{edu.completeDate}} <br>
      <br>
      <button class="badge btn-light btn-sm" *ngIf="!editEducation" (click)="setEdit(edu)">✏️</button>
      <button class="badge btn-light btn-sm" *ngIf="!editEducation" (click)="delete(edu.id)">❌</button>
      <div *ngIf="editEducation" name="editEducation" class=form-control>
        <form>
          <br>
          <label for="institutionName">Institution Name</label>
          <br>
          <input type="text" name="institutionName" [(ngModel)]="editEducation.institutionName">
          <br>
          <label for="educationType">Education Type</label>
          <br>
          <input type="text" name="educationType" [(ngModel)]="editEducation.educationType">
          <br>
          <label for="degreeCertificateName">Degree/Certificate</label>
          <br>
          <input type="text" name="degreeCertificateName" [(ngModel)]="editEducation.degreeCertificateName">
          <br>
          <label for="completeDate">Date Completed</label>
          <br>
          <input type="date" name="completeDate" [(ngModel)]="editEducation.completeDate">
          <br>
          <br>
          <button class="btn btn-success btn-outline-light btn-sm"
            (click)="edit(editEducation, edu.id); editEducation = null">Save</button>

          <button style="margin-left: 10px;" class="btn btn-secondary btn-outline-light btn-sm"
            (click)="editEducation = null">Cancel</button>
        </form>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<div id="addButton">
  <button class="badge btn btn-success btn-md" *ngIf="!createForm"
    (click)="createForm=true">➕&nbsp;&nbsp;Education</button>

</div>

<div name="createEducation" *ngIf="createForm">
  <br>
  <form class="form-control">
    <h5 style="text-shadow: 2px 2px 4px black">New Education</h5>
    <label for="institutionName">Institution Name</label>
    <br>
    <input type="text" name="institutionName" [(ngModel)]="newEducation.institutionName">
    <br>
    <label for="educationType">Education Type</label>
    <br>
    <input type="text" name="educationType" [(ngModel)]="newEducation.educationType">
    <br>
    <label for="degreeCertificateName">Degree/Certificate</label>
    <br>
    <input type="text" name="degreeCertificateName" [(ngModel)]="newEducation.degreeCertificateName">
    <br>
    <label for="completeDate">Date Completed</label>
    <br>
    <input type="date" name="completeDate" [(ngModel)]="newEducation.completeDate">
    <br>
    <br>
    <button class="btn btn-success btn-outline-light btn-sm" (click)="create(newEducation); createForm = false">Save
    </button>
    <button style="margin-left: 10px;" class="btn btn-secondary btn-outline-light btn-sm"
      (click)="createForm = false">Cancel</button>
  </form>
  <br>
</div>
