#footer {
  height: 3.5rem;

  background: #e0e0e0;
  background: -moz-linear-gradient(top, #e0e0e0 0%, #4d4d4f 49%, #d8dbd8 100%);
  background: -webkit-linear-gradient(
    top,
    #e0e0e0 0%,
    #4d4d4f 49%,
    #d8dbd8 100%
  );
  background: linear-gradient(to bottom, #e0e0e0 0%, #4d4d4f 49%, #d8dbd8 100%);

  box-sizing: border-box;
  position: bottom;
  bottom: 0;
  position: absolute;

  width: 100%;
}

#header {
  height: 4.5rem;
  margin-bottom: 1px;

  background: #e0e0e0;
  background: -moz-linear-gradient(top, #e0e0e0 0%, #4d4d4f 49%, #d8dbd8 100%);
  background: -webkit-linear-gradient(
    top,
    #e0e0e0 0%,
    #4d4d4f 49%,
    #d8dbd8 100%
  );
  background: linear-gradient(to bottom, #e0e0e0 0%, #4d4d4f 49%, #d8dbd8 100%);

  padding-bottom: 0px;
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 100%;
}
#welcomeHeading {
  font-family: "Irish Grover", cursive;
  font-size: 40px;
  font-weight: bold;
}

#padded {
  /* padding-bottom: 200px; */
}
#outsideBorder {
  vertical-align: middle;
  /* margin-top: 250px; */
  width: 550px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
  border-radius: 8px;
  background-color: rgb(33, 34, 35);
  /* padding: 1em 1em 1em 1em; */
  /* padding: 2em 2em 2em 2em; */
}

#topLevel {
  position: relative;
  min-height: 110vh;
}
