<!-- <div style="text-align: center" class="scrollable" *ngIf="active">
  <button (click)="open(newPostContent)" class="btn btn-success btn-outline-light" *ngIf="loggedIn()">Post
    Job</button>

  <ng-template #newPostContent let-modal id="newPost" style="text-align: center">
    <div id="newJobOutside">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"
          style="text-align:center; margin-bottom: auto; margin-top: 10px; color: white">
          <strong>New Job Post</strong>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        action="{{createAPost(newPost)}}" method="post"

        <form id="newPostForm">

          <label class="form-label" for="jobRequirements">Job Description</label>
          <textarea rows="2" cols="40" class="form-control" placeholder="Job Description" type="text"
            name="jobRequirements" required [(ngModel)]="newPost.jobRequirements"></textarea>
          <label class="form-label" for="startDate">Start Date</label>
          <input class="form-control" required type="date" name="startDate" [(ngModel)]="newPost.startDate" />
          <label class="form-label" for="completionDate">Completion Date</label>
          <input class="form-control" required type="date" name="completionDate" [(ngModel)]="newPost.completionDate" />
          <label class="form-label" for="developersNeeded">Developers Needed</label>
          <input class="form-control" required type="number" name="developersNeeded"
            [(ngModel)]="newPost.developersNeeded" />
          <br>
          <div class="dropdown">
            <button class="btn btn-secondary " type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" name="type">
              <strong> Job Type &nbsp;&nbsp;</strong>
              <select name="type" [(ngModel)]="newPost.type">
                <option *ngFor="let type of jobTypes" [ngValue]="type">
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li class="dropdown-item">{{type.name}}</li>
                  </ul>

                </option>
              </select>
            </button>
          </div>
          <br>
          <div class="dropdown">
            <button class="btn btn-secondary " type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" name="status">
              <strong>Job Status &nbsp;&nbsp;</strong>
              <select name="status" [(ngModel)]="newPost.status">
                <option *ngFor="let status of jobStatuses" [ngValue]="status">
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li class="dropdown-item">{{status.name}}</li>
                  </ul>

                </option>
              </select>
            </button>
          </div>

          <div style="text-align: center">
            <div class="form-inline" style="text-align: center; margin-top: 4px">
              <button (click)="createAPost(newPost)" (click)="modal.close('Save click')"
                class="badge btn btn-success">Create Post</button>
              <button class="badge btn btn-warning" style="margin-left: 10px;"
                (click)="modal.dismiss('Cross click')">Cancel</button>

            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </ng-template>
</div> -->

<div *ngIf="active && [!openForm]">
  <mat-card>
    <div *ngIf="selected || editJob" style="text-align: center;">
      <button class="btn btn-secondary btn-outline-light" style="margin-right: 10px;"
        (click)='selected = null && editJob = null'>Return</button>
      <br>
      <br>
    </div>
    <mat-card-content>
      <div class="scrollable">
        <table class="table table-striped table-hover table-bordered">
          <thead class="table-dark">
            <tr>
              <th>Description</th>
              <th>Posted</th>
              <th>Start</th>
              <th>Complete</th>
              <th>Status</th>
              <th>Details</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let job of jobs'>
              <td>{{job.jobRequirements}}</td>
              <td>{{job.datePosted}}</td>
              <td>{{job.startDate}}</td>
              <td>{{job.completionDate}}</td>
              <td>{{job.status.name}}</td>

              <td><button (click)="selectJob(job)" class="badge btn-secondary btn-outline-dark">View</button></td>
              <td><button (click)="setEditJob(job)" (click)="open(editJobContent)"
                  class="badge btn-warning btn-outline-dark">Edit</button>
              </td>
              <td><button (click)="deleteMyPost(job)" class="badge btn-danger btn-outline-dark">&nbsp;X&nbsp;</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>

  <ng-template #editJobContent let-modal id="editJobForm" style="text-align: center">
    <div id="editJobOutside" *ngIf="editJob">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"
          style="text-align:center; margin-bottom: auto; margin-top: 10px; color: white">
          <strong>Edit Job</strong>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"
          (click)="editJob = null">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="editJobForm">
          <label class="form-label" for="jobRequirements">Job Description</label>
          <textarea rows="2" cols="40" class="form-control" type="text" name="jobRequirements"
            [(ngModel)]="editJob.jobRequirements"></textarea>

          <label class="form-label" for="startDate">Start Date</label>
          <input class="form-control" type="date" name="startDate" [(ngModel)]="editJob.startDate" />

          <label class="form-label" for="completionDate">Complete Date</label>
          <input class="form-control" type="date" name="completionDate" [(ngModel)]="editJob.completionDate" />

          <label class="form-label" for="developersNeeded">Developers Needed</label>
          <input class="form-control" required type="number" name="developersNeeded"
            [(ngModel)]="editJob.developersNeeded" />

          <label class="form-label" for="dateClosed">Date Closed</label>
          <input class="form-control" type="date" name="dateClosed" [(ngModel)]="editJob.dateClosed" />


          <label class="form-label" for="jobActive">Job Active</label>
          <input class="form-control" required type="boolean" name="jobActive" [(ngModel)]="editJob.jobActive" />

          <br>
          <div class="dropdown">
            <button class="btn btn-secondary " type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" name="type">
              Job Type &nbsp;&nbsp;
              <select name="type" [(ngModel)]="editJob.type">
                <option *ngFor="let type of jobTypes" [ngValue]="type">
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li class="dropdown-item">{{type.name}}</li>
                  </ul>

                </option>
              </select>
            </button>
          </div>
          <br>
          <br>
          <div class="dropdown">
            <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" name="status">
              Job Status &nbsp;&nbsp;
              <select name="status" [(ngModel)]="editJob.status">
                <option *ngFor="let status of jobStatuses" [ngValue]="status">
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li class="dropdown-item">{{status.name}}</li>
                  </ul>
                </option>
              </select>
            </button>
            <br>
          </div>
          <br>
          <br>
          <div style="text-align: center">
            <div class="form-inline" style="text-align: center; margin-top: 4px">
              <button (click)="updateMyPost(editJob)" (click)="modal.close('Save click')"
                class="badge btn btn-success">Update</button>
              <button (click)="editJob = null" (click)="modal.dismiss('Cross click')" class="badge btn btn-warning"
                style="margin-left: 10px;">Cancel</button>
              <button (click)="deleteMyPost(editJob)" class="badge btn btn-danger"
                style="margin-left: 10px;">Delete</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </ng-template>
</div>


<div *ngIf="selected">
  <ngb-accordion style="text-align: center; margin-top: 4px">
    <ngb-panel title="Job Info">
      <ng-template ngbPanelContent>
        <ul>
          <li>Job Description: {{selected.jobRequirements}}</li>
          <li>Approved Applicants Required: {{selected.developersNeeded}}</li>
          <li>Is Active: {{selected.jobActive}}</li>
          <li>Start Date: {{selected.startDate}}</li>
          <li>Completion Date: {{selected.completionDate}}</li>
          <li>Date Posted: {{selected.datePosted}}</li>
          <li>Status: {{selected.status?.name}}</li>
          <li>Job Type: {{selected.type?.name}}</li>
        </ul>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <!-- <ngb-accordion>
    <ngb-panel title="Client Info">
      <ng-template ngbPanelContent>
        <ul>

          <li>First Name: {{selected.user?.firstName}}</li>
          <li>Last Name: {{selected.user?.lastName}}</li>
          <li>Last Name: {{selected.user?.id}}</li>

        </ul>
      </ng-template>
    </ngb-panel>
  </ngb-accordion> -->

  <!-- <ngb-accordion>
    <ngb-panel *ngIf="apps.length > 0"
      title="{{apps.length}} Applications Submitted for {{selected.developersNeeded}} Positions">
      <ng-template ngbPanelContent>
        <ul *ngFor='let app of apps'>
          <div>
            <li>ID: {{app.id}}</li>
            <li>First Name: {{app.user.firstName}}</li>
            <li>Last Name: {{app.user.lastName}}</li>
          </div>
        </ul>
      </ng-template>
    </ngb-panel>
  </ngb-accordion> -->

  <ngb-accordion>
    <ngb-panel *ngIf="apps.length > 0"
      title="{{apps.length}} Applications Submitted for {{selected.developersNeeded}} Positions">
      <ng-template ngbPanelContent>
        <div class="apps">
          <ul *ngFor='let app of apps'>
            <div>
              <h3>{{app.user.firstName}} {{app.user.lastName}}</h3>
              <li>Application Status: {{app.appStatus.name}}</li>
              <li>Application Date: {{app.date}}</li>
              <li *ngIf="app.appStatus.id == 3" style="color: green;">Application Status: {{app.appStatus.name}}</li>
              <li *ngIf="app.appStatus.id == 2 " style="color: yellow;">Application Status: {{app.appStatus.name}}</li>
              <li *ngIf="app.appStatus.id == 4 " style="color: red;">Application Status: {{app.appStatus.name}}</li>
            </div>

            <div>
              <mat-tab-group class="remove-border-bottom">
                <mat-tab label="Experiences">
                  <ul *ngFor='let exp of app.user.experiences'>
                    <div>
                      <li>Company Name: {{exp.companyName}}</li>
                      <li>Job Title: {{exp.jobTitle}}</li>
                      <li>Start Date: {{exp.startDate}}</li>
                      <li>End Date: {{exp.endDate}}</li>
                    </div>
                  </ul>
                </mat-tab>
                <mat-tab label="Education">
                  <ul *ngFor='let ed of app.user.educations'>
                    <div>

                      <li>Institution Name: {{ed.institutionName}}</li>
                      <li>Education Type: {{ed.educationType}}</li>
                      <li>Degree Type: {{ed.degreeCertificateName}}</li>
                      <li>Completed: {{ed.completeDate}}</li>
                    </div>
                  </ul>
                </mat-tab>
                <mat-tab label="Skills">
                  <ul *ngFor='let sk of app.user.skills'>
                    <div>
                      <li>Skill Description: {{sk.skillTitle}}</li>
                      <li>Skill Level: {{sk.skillLevel}}</li>
                    </div>
                  </ul>
                </mat-tab>
              </mat-tab-group>
              <div *ngIf="app.appStatus">
                <br>
                <button (click)="approveApp(app)" class="btn sm btn-success btn-outline-light">Approve
                </button>
                <button (click)="denyApp(app)" style="margin-left: 10px;"
                  class="btn sm btn-danger btn-outline-light">Decline</button>
              </div>
            </div>

          </ul>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
