<div class="container-fluid">


  <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
    <div class="container-fluid">


      <a class="navbar-brand" href="#/home"><img src="/assets/EnginEx.png" style="border-radius: 50%;" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/jobs">Job Posts</a>
          </li>
          <li class="nav-item" *ngIf="loggedIn()">
            <a class="nav-link" href="#/editprofile">Edit Profile</a>
          </li>
          <li class="nav-item" *ngIf="loggedIn()">
            <a class="nav-link" href="#/home" (click)="logOut()">Logout</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" *ngIf="!loggedIn()">
          <input class="form-control mr-sm-2" name="username" type="text" placeholder="Username" aria-label="Username"
            [(ngModel)]="user.username">
        </form>
        <form class="form-inline my-2 my-lg-0" *ngIf="!loggedIn()">
          <input class="form-control mr-sm-2" name="password" type="password" placeholder="Password"
            aria-label="Password" [(ngModel)]="user.password">
        </form>
        <button *ngIf="!loggedIn()" class="btn btn-outline-success my-2 my-sm-0" (click)="login(user)">Login</button>
        <button *ngIf="!loggedIn()" class="btn btn-outline-success my-2 my-sm-0" (click)="register()">Register</button>

      </div>
    </div>
  </nav>
</div>
