.mat-card-title {
  text-align: center;
  color: white;
}
.mat-card {
  background-color: rgb(33, 34, 35);
  width: 75%;
  margin: 0 auto;
}

.personal-dashboard {
  background-color: rgb(20, 60, 100);
  margin: 0 auto;
  min-width: 75%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: bold;
}

.personal-header > child:after {
  /* background-color: rgb(41, 97, 152); */
  text-align: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#welcomeHeading {
  font-family: "Irish Grover", cursive;
  font-size: 40px;
  font-weight: bold;
  color: black;
}

#outsideBorder {
  vertical-align: middle;
  /* margin-top: 250px; */
  width: 550px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
  border-radius: 8px;
  background-color: rgb(33, 34, 35);
  /* padding: 1em 1em 1em 1em; */
  /* padding: 2em 2em 2em 2em; */
}

#editProfileOutside {
  vertical-align: middle;
  /* margin-top: 250px; */
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
  border-radius: 8px;
  color: white;
  background-color: rgb(33, 34, 35);
  /* padding: 1em 1em 1em 1em; */
  padding: 1em 3em 3em 3em;
}

#enginExIntro,
#enginExP {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
#jobText {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
