<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3" *ngIf="loggedIn()">
      <div name="developerDetails">
        <!-- <h2 style="text-align: center">Your Profile</h2> -->

        <mat-card>
          <mat-card-title>Skills</mat-card-title>
          <mat-card-actions>
            <app-skill [skills]="skills" [activeUser]="activeUser"></app-skill>
          </mat-card-actions>
        </mat-card>
        <br>
        <mat-card>
          <mat-card-title>Education</mat-card-title>
          <mat-card-actions align="start">
            <app-education [educations]="educations" [activeUser]="activeUser"></app-education>

          </mat-card-actions>
        </mat-card>
        <br>
        <mat-card>
          <mat-card-title>Experience</mat-card-title>
          <mat-card-actions>
            <app-experience [experiences]="experiences" [activeUser]="activeUser"></app-experience>

          </mat-card-actions>
        </mat-card>
        <br>
        <mat-card>
          <mat-card-title>Applications</mat-card-title>
          <mat-card-actions align="start">
            <app-job-application [applications]="applications" [activeUser]="activeUser"></app-job-application>

          </mat-card-actions>
        </mat-card>

        <!-- <app-job-detail [applications]="applications" [activeUser]="activeUser"></app-job-detail> -->
      </div>
    </div>

    <div class="col-sm-4" *ngIf="activeUser && loggedIn()">
      <mat-card class="personal-dashboard">
        <mat-card-header class="personal-header">
          <div mat-card-avatar class="personal-dashboard-header-image"></div>
          <mat-card-title>User Dashboard</mat-card-title>
          <mat-card-subtitle>{{activeUser.firstName}} {{activeUser.lastName}}'s Profile</mat-card-subtitle>

        </mat-card-header>
        <img mat-card-image class="personal-dashboard-header-image" src="{{activeUser.imageUrl}}">
        <mat-card-content>
          <!-- <strong>Application Comments</strong>
          <ng-container *ngFor="let app of activeUser.applications">
            <ul *ngFor="let c of app.comments">

              <li>{{c.date}}</li>
              <li style="color: white">&emsp;{{c.comment}}</li>
              <ng-container *ngFor="let reply of c.replies">
                <li>{{reply.date}}</li>
                <li style="color: rgb(118, 118, 118)">&emsp;⮑&ensp;{{reply.comment}}</li>
                <ng-container *ngFor="let replyReply of reply.replies">
                  <li>{{replyReply.date}}</li>
                  <li style="color: white">&emsp;⮑&ensp;⮑&ensp;{{replyReply.comment}}</li>
                </ng-container>
              </ng-container>

            </ul>


          </ng-container> -->
        </mat-card-content>
        <mat-card-actions align="start">
          <!-- < [activeUser]="activeUser" [activeUser]="activeUser">
          </app-job-application-comment> -->
        </mat-card-actions>
      </mat-card>


    </div>

    <div [ngClass]="loggedInClass()">
      <div>
        <div class="container-fluid">
          <h1 id="jobText">Search Active Job Post</h1>
          <app-job-search></app-job-search>
        </div>
        <div class="container-fluid">
          <h1 id="jobText">Find a Developer</h1>
          <app-user-search></app-user-search>
        </div>
        <div class="container-fluid" *ngIf="loggedIn()">
          <h1 id="enginExp">My Job Posts</h1>
          <app-job-post></app-job-post>
        </div>

      </div>
    </div>
  </div>
</div>
