.mat-card-title {
  text-align: center;
  color: white;
  word-wrap: normal;
}
.mat-card {
  background-color: rgb(33, 34, 35);
  /* width: 75%; */
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  word-wrap: normal;
}

.personal-dashboard {
  background-color: rgb(20, 60, 100);

  text-align: center;
  margin-right: auto;
  margin-left: auto;
  /* min-width: 75%; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: bold;
  word-wrap: normal;
}

.personal-header {
  /* background-color: rgb(41, 97, 152); */
  text-align: center;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex-wrap: wrap;
}
.personal-dashboard-header-image {
  height: 150px;
  object-fit: contain;
}

#welcomeHeading {
  font-family: "Irish Grover", cursive;
  font-size: 40px;
  font-weight: bold;
  color: black;
}

#outsideBorder {
  vertical-align: middle;
  /* margin-top: 250px; */
  width: 550px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
  border-radius: 8px;
  background-color: rgb(33, 34, 35);
  /* padding: 1em 1em 1em 1em; */
  /* padding: 2em 2em 2em 2em; */
}

#editProfileOutside {
  vertical-align: middle;
  /* margin-top: 250px; */
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
  border-radius: 8px;
  color: white;
  background-color: rgb(33, 34, 35);
  /* padding: 1em 1em 1em 1em; */
  padding: 1em 3em 3em 3em;
}

#enginExIntro,
#enginExP {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
#jobText {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
/* .scrolling-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
} */
.ngb-accordion {
  word-wrap: normal;
}
