<div *ngIf="loggedIn()" class="scrolling-wrapper">
  <div class="row" style="column-gap: 50px;">
    <div class="col-3">
      <div name="developerDetails">
        <!-- <h2 style="text-align: center">Your Profile</h2> -->

        <mat-card>
          <mat-card-title>Skills</mat-card-title>
          <mat-card-actions>
            <app-skill [skills]="skills" [activeUser]="activeUser"></app-skill>
          </mat-card-actions>
        </mat-card>
        <br>
        <mat-card>
          <mat-card-title>Education</mat-card-title>
          <mat-card-actions align="start">
            <app-education [educations]="educations" [activeUser]="activeUser"></app-education>

          </mat-card-actions>
        </mat-card>
        <br>
        <mat-card>
          <mat-card-title>Experience</mat-card-title>
          <mat-card-actions>
            <app-experience [experiences]="experiences" [activeUser]="activeUser"></app-experience>

          </mat-card-actions>
        </mat-card>
        <br>
      </div>
    </div>

    <div class="col-3" *ngIf="activeUser && loggedIn() && loggedInClass()">
      <mat-card class="personal-dashboard">
        <mat-card-header class="personal-header">
          <!-- <div mat-card-avatar class="personal-dashboard-header-image"></div> -->
          <mat-card-title>User Dashboard</mat-card-title>
          <mat-card-subtitle>{{activeUser.firstName}} {{activeUser.lastName}}'s</mat-card-subtitle>
          <mat-card-subtitle>
            Profile
          </mat-card-subtitle>

        </mat-card-header>
        <img mat-card-image class="personal-dashboard-header-image" src="{{activeUser.imageUrl}}">
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions align="start">

        </mat-card-actions>
      </mat-card>
      <br>
      <mat-card>
        <mat-card-title>Received Messages</mat-card-title>
        <mat-card-actions align="start">
          <app-chat-received [activeUser]="activeUser"></app-chat-received>

        </mat-card-actions>
      </mat-card>
      <br>

      <mat-card style="margin-bottom: 15px;">
        <mat-card-title>Sent Messages</mat-card-title>
        <mat-card-actions align="start">
          <app-chat-sent [activeUser]="activeUser"></app-chat-sent>

        </mat-card-actions>
      </mat-card>
      <br>
      <mat-card>
        <mat-card-title>Applications</mat-card-title>
        <mat-card-actions align="start">
          <app-job-application [applications]="applications" [activeUser]="activeUser"></app-job-application>

        </mat-card-actions>
      </mat-card>
      <br>
    </div>

    <div class="col-5" *ngIf="activeUser && loggedIn() && loggedInClass()">
      <mat-card>
        <mat-card-title>Developer Skill Search</mat-card-title>
        <mat-card-actions align="start">
          <app-user-search></app-user-search>
        </mat-card-actions>
      </mat-card>
      <br>
      <br>
      <!-- <mat-card>
        <mat-card-title>Active Jobs</mat-card-title>
        <mat-card-actions align="start">
          <app-job-search></app-job-search>
        </mat-card-actions>
      </mat-card>
      <br>
      <br> -->
      <div *ngIf="activeUser && loggedIn() && loggedInClass()">
        <mat-card>
          <mat-card-title>My Jobs</mat-card-title>
          <mat-card-actions align="start">
            <app-my-job-posts [active]="active" [userPosts]="userPosts" [sentMsg]="sentMsg" [recMsg]="recMsg"
              [userSkills]="userSkills" [userEdu]="userEdu" [userApps]="userApps" [userExps]="userExps">
            </app-my-job-posts>
          </mat-card-actions>
        </mat-card>

      </div>
      <br>
      <br>
    </div>

  </div>
</div>
<div *ngIf="!loggedIn()" style="max-width: 1000px; margin-right: auto; margin-left: auto">
  <mat-card>
    <mat-card-title>Job Search</mat-card-title>
    <mat-card-actions align="start">
      <app-job-search></app-job-search>
    </mat-card-actions>
    <app-job-post></app-job-post>
  </mat-card>

</div>
