<style>
  .container {
  width: 500px;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;
}
</style>
<div class="container">
  <form name="editProfile">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" [(ngModel)]="editUser.firstName"><br>
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" [(ngModel)]="editUser.lastName"><br>
    <label for="username">Username</label>
    <input type="text" name="username" [(ngModel)]="editUser.username"><br>
    <label for="emailAddress">Email</label>
    <input type="text" name="email" [(ngModel)]="editUser.email"><br>
    <label for="phoneNumber">PhoneNumber</label>
    <input type="text" name="phoneNumber" [(ngModel)]="editUser.phoneNumber"><br>
    <button class="btn btn-light" (click)="edit(editUser)">Submit Changes</button><button class="btn btn-light" (click)="cancel()">Cancel</button>
  </form>
</div>
