<h1>Dev Experience</h1>

<!-- <div id="devExp" *ngIf="experiences.length > 0">

  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Experiences</h5>
      <p class="card-text">
      <div class="row" *ngFor="let exp of experiences">
        <div class="col">
          <button type="button" class="bi bi-pen" (click)="selectExp(exp)">
          </button>
          {{ exp.jobTitle }}
        </div>

        <div class="col">
          {{ exp.companyName }}
        </div>
        <div class="col">
          {{ exp.startDate }}
        </div>
        <div class="col">
          {{ exp.endDate }}
        </div>


      </div>
    </div>
  </div>


</div> -->

<button class="badge btn-success" (click)="addButton = true">Add Exp</button>

<div id="expList">
  <div *ngIf="experiences.length > 0 && activeUser">
    <ol *ngFor="let exp of experiences ">
      <li>{{ exp.id }}</li>
      <li>{{ exp.jobTitle }}</li>
      <li>{{ exp.companyName }}</li>
      <li>{{ exp.startDate }}</li>
      <li>{{ exp.endDate }}</li>
      <button class="btn btn-primary btn-sm" (click)="setEditExp(exp)">Edit</button>
      <button class="badge-danger" (click)="deleteExp(exp.id, activeUser.id)">X</button>
    </ol>
  </div>
</div>




<div id="editExpForm">

  <div *ngIf="editExp && activeUser" style="text-align: center" class="form-control">
    <form>
      <input type="text" name="selected.jobTitle" [(ngModel)]="editExp.jobTitle" />
      <br />
      <br />
      <input type="text" name="selected.companyName" [(ngModel)]="editExp.companyName" />
      <br />
      <br />
      <input type="date" name="selected.startDate" [(ngModel)]="editExp.startDate" />
      <br />
      <br />
      <input type="date" name="selected.endDate" [(ngModel)]="editExp.endDate" />
      <br />
      <br />
      <button class="btn btn-success btn-outline-light" (click)="updateExp(editExp, activeUser.id)">
        Save
      </button>
      <button class="btn btn-light">Close</button>
    </form>
  </div>

</div>

<div id="newExp" *ngIf="addButton">

  <form class="form-control">
    <h2 style="text-shadow: 2px 2px 4px black">New Exp</h2>
    <label for="start">Job Title</label>

    <input id="jobtitle" type="text" name="selected.jobTitle" [(ngModel)]="newExp.jobTitle" />
    <br />
    <label for="start">Company</label>

    <input id="company" type="text" name="selected.companyName" [(ngModel)]="newExp.companyName" />
    <br />
    <label for="start">Start Date</label>
    <br>
    <input id="start" type="date" name="selected.startDate" [(ngModel)]="newExp.startDate" />
    <br />
    <label for="end">End Date</label>
    <br>
    <input id="end" type="date" name="selected.endDate" [(ngModel)]="newExp.endDate" />
    <br />
    <button class="btn btn-success btn-outline-light" (click)="create(newExp)">
      Save
    </button>
    <button *ngIf="activeUser" style="margin-left: 10px" class="btn btn-secondary btn-outline-light"
      (click)="loadExps(activeUser.id)">
      Cancel
    </button>

  </form>
</div>




<!-- <div class="mat-grid-container">
  <mat-grid-list cols="6" rowHeight="100px">
    <mat-grid-tile id="noBorder"></mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Developer</mat-card-title>
        <mat-card-subtitle>Skills</mat-card-subtitle>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile id="noBorder"></mat-grid-tile>
    <mat-grid-tile id="noBorder"></mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Developer</mat-card-title>
        <mat-card-subtitle>Experience</mat-card-subtitle>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile id="noBorder"></mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile id="noBorder"></mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Developer</mat-card-title>
        <mat-card-title>Profile</mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile id="noBorder"></mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="6" rowHeight="100px">
    <mat-grid-tile id="noBorder"></mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>User</mat-card-title>
        <mat-card-title>Profile</mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile id="noBorder"></mat-grid-tile>
    <mat-grid-tile id="noBorder"></mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Developer</mat-card-title>
        <mat-card-subtitle>Education</mat-card-subtitle>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile id="noBorder"></mat-grid-tile>
  </mat-grid-list>

  <div class="mat-grid-container">

    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile id="noBorder"></mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-title>Job</mat-card-title>
          <mat-card-title>Application</mat-card-title>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile id="noBorder"></mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="6" rowHeight="100px">
      <mat-grid-tile id="noBorder"></mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-title>App</mat-card-title>
          <mat-card-subtitle>Details</mat-card-subtitle>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile id="noBorder"></mat-grid-tile>
      <mat-grid-tile id="noBorder"></mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-title>App</mat-card-title>
          <mat-card-subtitle>Status</mat-card-subtitle>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile id="noBorder"></mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="mat-grid-container">
    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile id="noBorder"></mat-grid-tile>

      <mat-grid-tile>
        <mat-card>
          <mat-card-title>Job</mat-card-title>
          <mat-card-title>Postings</mat-card-title>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile id="noBorder"></mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="6" rowHeight="100px">
      <mat-grid-tile id="noBorder"></mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-title>Job</mat-card-title>
          <mat-card-subtitle>Type</mat-card-subtitle>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile id="noBorder"></mat-grid-tile>
      <mat-grid-tile id="noBorder"></mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-title>Job</mat-card-title>
          <mat-card-subtitle>Status</mat-card-subtitle>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile id="noBorder"></mat-grid-tile>
    </mat-grid-list>



  </div> -->
