<!-- <h1 style="text-align:center">Experience</h1> -->


<ngb-accordion [closeOthers]="true">
  <ngb-panel title={{exp.companyName}} *ngFor="let exp of experiences">
    <ng-template ngbPanelContent>
      <strong>{{exp.companyName}}</strong><br>
      Job Title: {{exp.jobTitle}} <br>
      Started: {{exp.startDate}}
      <div *ngIf="exp.endDate">
        Ended: {{exp.endDate}}
      </div>
      <br>
      <button *ngIf="!editExp" class="badge btn-light btn-sm" (click)="setEditExp(exp)">✏️</button>
      <button *ngIf="!editExp" class="badge btn-light btn-sm" (click)="deleteExp(exp.id)">❌</button>
      <br>
      <div *ngIf="editExp" style="text-align: center" class="form-control">
        <form>
          <br>
          <label for="start">Job Title</label>
          <br>
          <input type="text" name="selected.jobTitle" [(ngModel)]="editExp.jobTitle" />
          <br />
          <label for="start">Company</label>
          <br>
          <input type="text" name="selected.companyName" [(ngModel)]="editExp.companyName" />
          <br />
          <label for="start">Start Date</label>
          <br />
          <input type="date" name="selected.startDate" [(ngModel)]="editExp.startDate" />
          <br />
          <label for="end">End Date</label>
          <br />
          <input type="date" name="selected.endDate" [(ngModel)]="editExp.endDate" />
          <br />
          <br>
          <button class="btn btn-success btn-outline-light btn-sm" (click)="updateExp(editExp)">
            Save
          </button>
          <button style="margin-left: 10px" class="btn btn-secondary btn-outline-light btn-sm"
            (click)="editExp = null">Cancel</button>
        </form>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<div id="addButton" *ngIf="!addButton">

  <button id="addButton" class="badge btn btn-success btn-md" (click)="addButton = true">➕
    &nbsp;&nbsp;Experience</button>
</div>

<div id="newExp" *ngIf="addButton">
  <br>
  <form class="form-control">
    <h5 style="text-shadow: 2px 2px 4px black">New Experience</h5>
    <label for="jobtitle">Job Title</label>
    <br>
    <input id="jobtitle" type="text" name="jobTitle" [(ngModel)]="newExp.jobTitle" />
    <br />
    <label for="company">Company</label>
    <br>
    <input id="company" type="text" name="companyName" [(ngModel)]="newExp.companyName" />
    <br />
    <label for="start">Start Date</label>
    <br>
    <input id="start" type="date" name="startDate" [(ngModel)]="newExp.startDate" />
    <br />
    <label for="end">End Date</label>
    <br>
    <input id="end" type="date" name="endDate" [(ngModel)]="newExp.endDate" />
    <br />
    <br>
    <button class="btn btn-success btn-outline-light btn-sm" (click)="create(newExp)">
      Save
    </button>
    <button style="margin-left: 10px" class="btn btn-secondary btn-outline-light btn-sm" (click)="addButton=false">
      Cancel
    </button>

  </form>
  <br>
</div>



<!-- <div class="mat-grid-container">
  <mat-grid-list cols="6" rowHeight="100px">
    <mat-grid-tile id="noBorder"></mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Developer</mat-card-title>
        <mat-card-subtitle>Skills</mat-card-subtitle>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile id="noBorder"></mat-grid-tile>
    <mat-grid-tile id="noBorder"></mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Developer</mat-card-title>
        <mat-card-subtitle>Experience</mat-card-subtitle>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile id="noBorder"></mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile id="noBorder"></mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Developer</mat-card-title>
        <mat-card-title>Profile</mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile id="noBorder"></mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="6" rowHeight="100px">
    <mat-grid-tile id="noBorder"></mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>User</mat-card-title>
        <mat-card-title>Profile</mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile id="noBorder"></mat-grid-tile>
    <mat-grid-tile id="noBorder"></mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Developer</mat-card-title>
        <mat-card-subtitle>Education</mat-card-subtitle>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile id="noBorder"></mat-grid-tile>
  </mat-grid-list>

  <div class="mat-grid-container">

    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile id="noBorder"></mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-title>Job</mat-card-title>
          <mat-card-title>Application</mat-card-title>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile id="noBorder"></mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="6" rowHeight="100px">
      <mat-grid-tile id="noBorder"></mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-title>App</mat-card-title>
          <mat-card-subtitle>Details</mat-card-subtitle>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile id="noBorder"></mat-grid-tile>
      <mat-grid-tile id="noBorder"></mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-title>App</mat-card-title>
          <mat-card-subtitle>Status</mat-card-subtitle>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile id="noBorder"></mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="mat-grid-container">
    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile id="noBorder"></mat-grid-tile>

      <mat-grid-tile>
        <mat-card>
          <mat-card-title>Job</mat-card-title>
          <mat-card-title>Postings</mat-card-title>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile id="noBorder"></mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="6" rowHeight="100px">
      <mat-grid-tile id="noBorder"></mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-title>Job</mat-card-title>
          <mat-card-subtitle>Type</mat-card-subtitle>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile id="noBorder"></mat-grid-tile>
      <mat-grid-tile id="noBorder"></mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-title>Job</mat-card-title>
          <mat-card-subtitle>Status</mat-card-subtitle>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile id="noBorder"></mat-grid-tile>
    </mat-grid-list>



  </div> -->
