<div style="text-align: center">
  <br />
  <h1 style="text-shadow: 2px 2px 4px black">Developer Experience Component</h1>
  <br />
  <div style="text-align: center">

    <br />
    <br />
    <table style="
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      " class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>Dev ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Job Title</th>
          <th>Company</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let dev of devs">
          <tr *ngFor="let exp of dev.experiences" (click)="displayExperience(exp, dev)">
            <td>{{ dev.id }}</td>
            <td>{{ dev.firstName }}</td>
            <td>{{ dev.lastName }}</td>
            <td>{{ exp.jobTitle }}</td>
            <td>{{ exp.companyName }}</td>
            <td>{{ exp.startDate }}</td>
            <td>{{ exp.endDate }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <hr />
  <div *ngIf="editDev && editExperience" style="text-align: center" class="form-control">
    <form>
      <input type="text" name="editExperience.jobTitle" [(ngModel)]="editExperience.jobTitle" />
      <br />
      <br />
      <input type="text" name="editExperience.companyName" [(ngModel)]="editExperience.companyName" />
      <br />
      <br />
      <input type="date" name="editExperience.startDate" [(ngModel)]="editExperience.startDate" />
      <br />
      <br />
      <input type="date" name="editExperience.endDate" [(ngModel)]="editExperience.endDate" />
      <br />
      <br />
      <button class="btn btn-success btn-outline-light" (click)="updateExperience(editExperience, editDev)">
        Save
      </button>
      <button style="margin-left: 10px" class="btn btn-warning btn-outline-light" (click)="displayTable()">
        Cancel
      </button>
    </form>
  </div>

  <div>

    <form class="form-control">
      <h2 style="text-shadow: 2px 2px 4px black">Add New Experience</h2>
      <input type="text" name="newExperience.jobTitle" placeholder="Job Title" [(ngModel)]="newExperience.jobTitle" />
      <br />
      <br />
      <input type="text" name="newExperience.companyName" placeholder="Company Name"
        [(ngModel)]="newExperience.companyName" />
      <br />
      <br />
      <input type="date" name="newExperience.startDate" placeholder="Start Date"
        [(ngModel)]="newExperience.startDate" />
      <br />
      <br />
      <input type="date" name="newExperience.endDate" placeholder="End Date" [(ngModel)]="newExperience.endDate" />
      <br />
      <br />
      <button class="btn btn-success btn-outline-light" (click)="addExperience(newExperience)">
        Save
      </button>
      <button style="margin-left: 10px" class="btn btn-warning btn-outline-light" (click)="displayTable()">
        Cancel
      </button>
      <br>
      <br>
    </form>
  </div>
</div>

<hr>
<br>
<br>

<!-- <div class="mat-grid-container">
  <mat-grid-list cols="6" rowHeight="100px">
    <mat-grid-tile id="noBorder"></mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Developer</mat-card-title>
        <mat-card-subtitle>Skills</mat-card-subtitle>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile id="noBorder"></mat-grid-tile>
    <mat-grid-tile id="noBorder"></mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Developer</mat-card-title>
        <mat-card-subtitle>Experience</mat-card-subtitle>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile id="noBorder"></mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile id="noBorder"></mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Developer</mat-card-title>
        <mat-card-title>Profile</mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile id="noBorder"></mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="6" rowHeight="100px">
    <mat-grid-tile id="noBorder"></mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>User</mat-card-title>
        <mat-card-title>Profile</mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile id="noBorder"></mat-grid-tile>
    <mat-grid-tile id="noBorder"></mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Developer</mat-card-title>
        <mat-card-subtitle>Education</mat-card-subtitle>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile id="noBorder"></mat-grid-tile>
  </mat-grid-list>

  <div class="mat-grid-container">

    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile id="noBorder"></mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-title>Job</mat-card-title>
          <mat-card-title>Application</mat-card-title>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile id="noBorder"></mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="6" rowHeight="100px">
      <mat-grid-tile id="noBorder"></mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-title>App</mat-card-title>
          <mat-card-subtitle>Details</mat-card-subtitle>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile id="noBorder"></mat-grid-tile>
      <mat-grid-tile id="noBorder"></mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-title>App</mat-card-title>
          <mat-card-subtitle>Status</mat-card-subtitle>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile id="noBorder"></mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="mat-grid-container">
    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile id="noBorder"></mat-grid-tile>

      <mat-grid-tile>
        <mat-card>
          <mat-card-title>Job</mat-card-title>
          <mat-card-title>Postings</mat-card-title>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile id="noBorder"></mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="6" rowHeight="100px">
      <mat-grid-tile id="noBorder"></mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-title>Job</mat-card-title>
          <mat-card-subtitle>Type</mat-card-subtitle>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile id="noBorder"></mat-grid-tile>
      <mat-grid-tile id="noBorder"></mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-title>Job</mat-card-title>
          <mat-card-subtitle>Status</mat-card-subtitle>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile id="noBorder"></mat-grid-tile>
    </mat-grid-list>



  </div> -->
