/* @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "~@angular/material/prebuilt-themes/purple-green.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@use "@material/card";

@include card.core-styles;

.mat-card {
  background-color: rgb(24, 28, 30);
  color: white;
  text-shadow: 1px 1px 4px black;
  border: 1px solid black;
  width: 95%;
  height: 90%;
}
.mat-card-subtitle {
  color: white;
  text-shadow: 1px 1px 4px black;
}
/* .mat-tile {
  border: 2px solid black;
  border-radius: 8px;
} */
/* .mat-grid-tile {
  border: 2px solid black;
  border-radius: 8px;
  background-color: gray;
}

.mat-card-title {
  margin-top: 10px;
}
.mat-grid-container {
  text-align: center;
  margin: auto;
  width: 75%;
  font-weight: bold;
}

#noBorder {
  border: none;
  border-radius: 0;
  background-color: white;
} */
.form-control,
.form-inline {
  margin: auto;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 4px black;
  border: 1px solid black;
  width: 50%;
  background-color: rgb(24, 28, 30);
}
